scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/myshop
        create path (nt:unstructured) /content/dam/myshop/jcr:content
        set properties on /content/dam/myshop/jcr:content
        set cq:conf{String} to /conf/myshop
        set jcr:title{String} to \"My Shop\"
        end
        "
]
